<p>
  <span *ngIf="!newJob.id">CREATE JOB</span>
  <span *ngIf="newJob.id">UPDATE JOB</span>
</p>
<span>CATEGORY :: <input [(ngModel)]="newJob.category"></span>
<span>TITLE :: <input [(ngModel)]="newJob.title"></span>
<span>DESCRIPTION :: <input [(ngModel)]="newJob.description"></span>
<span><button (click)="submitRequest()" title="SAVE/UPDATE JOB"><span *ngIf="!newJob.id">CREATE</span><span *ngIf="newJob.id">UPDATE</span></button></span>
<span><button (click)="onCancelRequest()" title="SAVE/UPDATE JOB">Cancel</button></span>
